<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventPlanner"
        tools:targetApi="31">
        <activity
            android:name=".activities.charts.AttendanceChart"
            android:exported="false" />
        <activity
            android:name=".activities.favorites.FavoriteServicesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.favorites.FavoriteProductsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.favorites.FavoriteEventsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.event.AgendaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.solutioncategory.CategoriesTableActivity"
            android:exported="false" />
        <activity
            android:name=".activities.eventtype.EventTypeTableActivity"
            android:exported="false" />
        <activity
            android:name=".activities.event.LocationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.event.EventCreationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.eventtype.EventTypeCreationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.homepage.AdminHomepageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.eventtype.EventTypeEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.eventtype.EventTypeViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.business.BusinessEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.business.BusinessInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.homepage.OrganiserHomepageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.ProfileViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.service.ServiceEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.solutioncategory.CategoryCreationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.service.ServiceCreationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.business.BusinessRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.homepage.HomepageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.favorites.ExplorePageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth.AccountActivation"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="10.0.2.2"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.homepage.ProviderHomepageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.homepage.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.eventplanner.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>